body {
    background-color: rgb(37, 37, 37);
    text-align: justify;
    color: white;
}

#contairner {
    margin: auto;
    width: 500px;
}

.tartalom img{ 
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
.resz {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
h1 {
    text-align: center;
}
#links li{
    padding-left: 20px;
    display: inline-block;
    list-style-type: none;

}
.tartalom li{
    list-style-type: url("./web_grid_alap/images.png");  
}
.tartalom {
    border-right: 2px solid red;
}
a:link{
    color: white;
}
a:visited {
    color: lawngreen;
}
a:hover {
    color: lawngreen;
}
a:active {
    color: white;
}
.cim h1{
    font-size: 200%;
    font-weight: bolder;
    color: white ;
    text-align: left;
    border-bottom: 2px solid red;
    line-break: auto;
}
.cim p{
    font-size: 100%;
    color: gray;
    text-align: left;
    line-break: auto;
}
.cim{
    grid-template-columns: 1fr 1fr;
    display:grid;
}
.cim img{
    float: right;
    width: 400px;
    margin: auto;
}
@media screen and (max-width  : 500px){
    body{
background-color:black
}
.resz{
    display: grid;
    grid-template-columns:  1fr;
}
.tartalom img{ 
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tartalom {
    border-top: 2px solid red;
}
#links li{
    padding-left: 20px;
    display: grid;
    list-style-type: none;
}
a:link{
    color: white;
}
a:visited {
    color: lawngreen;
}
a:hover {
    color: lawngreen;
}
a:active {
    color: white;
}
}
